<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="card">
                <div class="card-image">
                    <img
                    src="https://medixcollege.ca/wp-content/uploads/2023/02/Feb-3-medical-lab-tech-courses.jpg"
                    alt="Blood Test"
                    loading="lazy"
                     />
                  </div>
                 <div class="card-content">
                        <p>Blood Test</p>
                 </div>
                </div>
            </div>
</body>
</html>